/* product-info */

.product-selection-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2.22vw;
position: absolute;
width: 26.25vw;
height: 9.375vw;
left: 4.79vw;
top: 35.42vw;
border-right: 1px solid rgba(17, 34, 17, 0.25);

/* float: left;
margin-left: 10px; */
}
@media (max-width: 768px) {
.product-selection-wrapper {
    flex-direction: row;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}
}
.product-wrapper{
height:34.72vw;
width:60.41vw;
margin-left: 31.94vw;
/* background-color: yellow; */
}

@media (max-width: 768px) {
.product-wrapper {
    width: 100%;
    height: auto;
    margin-left: 0;
}
}

.product-info{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 1.71vw;
width: 60.41vw;
height: 156.21vw;
margin-top: 2.5vw;

}

@media (max-width: 768px) {
.product-info {
    width: 100%;
    height: auto;
}
}

.message-wrapper{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 34.14vw;

width: 60vw;
height: 1.79vw;


}

@media only screen and (max-width: 720px) {
.message-wrapper {
    width: 100%;
    height: auto;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
}

.message-word{
/* width: 200px;
height: 17px; */
width: fixed-value;
white-space: nowrap;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1vw;
line-height: 1.21vw;
margin-top: 0.57vw;
color: #112211;
}

@media only screen and (max-width: 720px) {
.message-word {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    text-align: center;
}
}

.message-word span{
color:red
}
.sort-wrapper{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 0.29vw;

width: 15.64vw;
height: 2.14vw;

}

@media (max-width: 720px) {
.sort-wrapper {
  flex-direction: column;
  width: 100%;
  height: auto;
}
}

.sort-button{
margin-top: 0.07vw;
width:13.43vw;
height: 0.71vw;
/* border: 0;
border-color: white; */
}



.sort-button input{
border:none;
}
/* .sort-button:focus,.sort-button:hover{
background-color: aliceblue;
color:#112211;
border-color: white;
} */

.sort-by{
    width: 150px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-top: 7px;
    /* identical to box height */
    margin-left:-23px;
    text-align: right;

    color: #112211;

}
.recommend-option{

/* Montserrat/Semibold/14px */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 17px;
margin-right:10px;
color: #112211;
}
.el-select-dropdown__item.selected {
color: #8DD3BB;
}
.el-select .el-input__inner {
font-weight: bold;
}
.product-card-wrapper{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 870px;
height: 290px;
cursor: pointer;
filter: drop-shadow(0px 4px 16px rgba(17, 34, 17, 0.05));

}
.product-image-wrapper{
width: 360px;
height:240px;
}
.product-image{
border-radius: 12px 0px 0px 12px;
}
.product-text-wrapper{

width: 470px;
height: 205px;
margin-left:370px;
margin-top: -240px;

}
.product-text-word{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 350px;
height: 205px;


}
.product-title-word{
width: 350px;
height: 70px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
color: #112211;
}
.product-description{
align-items: flex-start;
width: 350px;

height: 130px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.product-price-wrapper{
 display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
margin-top: -205px;
margin-left: 365px;
width: 106px;
height: 80px;
}
.price-word1{
width: 106px;
height: 0px;   
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #112211;

opacity: 0.75;
}
.price-word2{
width: 106px;
height: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
text-align: right;
color: #FF8682;
}
.price-word3{
width: 106px;
height: 15px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: right;

color: #112211;

opacity: 0.75;

}
.product-duration-wrapper{

width: 100px;
height: 70px;

}
.duration-word1{
position: absolute;
margin-left: 24px;
margin-top: -19px;
width: 100px;
height: 15px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #112211;

}
.product-rating{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
margin-top: 2px;
gap: 4px;
width: 180px;
height: 28px;
/* background-color: red; */
}
.rating-word1{
width: 136px;
height: 15px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #112211;

}
.product-button-wrapper{
width: 470px;
height: 36px;
margin-left: 370px;
margin-top: 12px;
}
.view-price-button{
width: 470px;
height: 36px;
background-color:#8DD3BB ;
color:black;
border-color: #8DD3BB;
}
.view-price-button:focus,.view-price-button:hover{
background-color: #8DD3BB;
color: #112211;
border-color: #8DD3BB;
}
.view-price-button:active{
background-color:#578978 ;
color: #112211;
border-color: #578978;
}
.page-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 870px;
height: 48px;
margin-top: 25px;

}
.pagination-product{
margin-left: 220px;
}

.el-pagination.is-background .el-pager li:not(.disabled) {
background-color: #fff; 
color: black;
font-size: 15px;

}
.el-pagination.is-background .el-pager li:not(.disabled).active {
background-color:#8DD3BB; 
color: #fff;
font-size: 15px;
}
.el-pager li:hover{

color:#578978 !important;
font-size: 15px;
}

.filter-word{
width: 65px;
height: 24px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #112211;


}
.price-selector{

width: 350px;
height: 87px;
}
.price-selector-slide{
width: 320px;
height: 40px;
margin-left: 10px;
margin-top: 15px;

} 
.el-slider__runway{
height:3.5px;
}
.el-slider__bar{
background-color:black;
height: 3.5px;
}
.el-slider__stop{
height:3.5px;
}
.el-slider__button {
background-color: #8DD3BB;
border-color: #8DD3BB;
}
.rate-selector{

width: 350px;
height: 150px;
/* background-color: cadetblue; */
border-top: 1px solid rgba(17, 34, 17, 0.25);

}
.rate-word{
position: absolute;
margin-top: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #112211;


}

.rating-botton{
width: 350x;
height: 58px;
margin-top: 80px;

}
.rating-botton el-radio {
display: inline-block;
}
.el-radio__input.is-checked + .el-radio__label {
color: #28d4c1;
}
.el-radio.is-bordered.is-checked {
border-color:#8DD3BB ;
}
.el-radio.is-bordered{
border-color: #8DD3BB;
}
.el-radio__input.is-checked .el-radio__inner {
background: #8DD3BB; 
border-color:#8DD3BB ;

}
.specials-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 350px;
height: 300px;
border-top: 1px solid rgba(17, 34, 17, 0.25);
}
.special-word{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #112211;
margin-top: 40px;

}
.checkbox-item-specials{
display: block;
margin-top: 15px;
}
.el-checkbox__inner{
border-color: #112211;
}
.el-checkbox__label{
width: 102px;
height: 17px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #112211;

}
.categories-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 350px;
height: 240px;
border-top: 1px solid rgba(17, 34, 17, 0.25);

}
.categories-word{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #112211;
margin-top: 40px;

}
.radio-item-categories{
display: block;
margin-top: 15px;
}
.more-show{
margin-top: 10px;
cursor: pointer;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #FF8682;
}
.clear-button{
position: absolute;
left:118px;
top:615px;
cursor: pointer;

}
.duration-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 350px;
height: 240px;
margin-top: 120px;
border-top: 1px solid rgba(17, 34, 17, 0.25);
}
.duration-word{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #112211;
margin-top: 40px;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
color:black;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
border-color: #8DD3BB;
background-color: #8DD3BB;
}
.el-checkbox__inner:hover{
border-color:#8DD3BB;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
border-color:black;
}
.el-checkbox__inner{
width: 20px;
height: 20px;
}
.el-checkbox__inner::after{
left:5px;
height:9px;
width:6px;
}
.product-rate-word{
font-family:'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #112211;
}
.price-selector-word{
width: 42px;
height: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #112211;
}

/* footer */


.footer-wrapper{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 128px;

    position: absolute;
    width: 100%;
    height: 570px;
    left: 0px;
    top: 3060px;
   
    background-color: #8DD3BB;
}
.subscribe-wrapper{
    position:absolute;
    margin-bottom: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 24px;
    gap: 180px;
    width: 1232px;
    height: 305px;
    background: #CDEAE1;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.info-wrapper{
    position:absolute;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 140px;
    width: 1268px;
    height: 180px;
    flex: none;
    order: 1;
    flex-grow: 0;
   
}
.footer-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0px;
    gap: 24px;
    width: 593px;
    height: 305px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /* background-color: burlywood; */
}
.footer-text{
    width: 364px;
    height: 108px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #112211;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-text2{
    position:absolute;
    top:160px;
    width: 420px;
    height: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #112211;
    opacity: 0.8;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footer-text3{
    position:absolute;
    top:190px;
    width: 570px;
    height: 19px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #112211;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-email{
    position:absolute;
    top:238px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 420px;
    height: 60px;

    border-radius: 4px 4px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.subsribe-button{
    position:absolute;
    background-color:#000000;
    height: 42px;
    top:238px;
    margin-left: 442px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;


}
.subsribe-button:focus,.search-button:hover{
background-color:#000000;
}
.subsribe-button:active{
background-color: #79747E;
}
.footer-image{
position:absolute;
width: 400px;
height: 310px;
left:840px;
margin-bottom: -5px;

}
.sunbook-text{
    position: absolute;
    left: 3.5%;
    right: 0%;
    top: 10%;
    bottom: 61.45%;
}
.social-lego{
    position:absolute;
    top:85px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 130px;
    height: 20px;
}
.colunm{
    margin-top: -15px;
    margin-left: 80px;
    
    height: 150px;
        }
.title-word{
    
    font-family: 'Alibaba PuHuiTi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #112211;
}
.text-word{
    font-family: 'Alibaba PuHuiTi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* Blackish Green */

    color: #112211;

    opacity: 0.7;

}
.word_title {
    display: flex;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .word_title {
      margin-bottom: 40px;
    }
  }
  
