.el-button--text{
  color: #8dd3bb;
}
.el-radio__input .is-checked .el-radio__inner {
  color: #8dd3bb;
}
.el-radio__inner:hover{
  color: #8dd3bb;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #8dd3bb;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #8dd3bb;
  background: #8dd3bb;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #8dd3bb;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #8dd3bb;
  border-color: #8dd3bb;
}
.el-radio.is-bordered.is-checked {
  border-color: #8dd3bb;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #8dd3bb;
  color: #FFF;
}
.el-select-dropdown__item.selected {
  color: #8dd3bb;
  font-weight: 700;
}
.el-date-table td.current:not(.disabled) span {
  color: #FFF;
  background-color: #8dd3bb;
}
.el-date-table td.today span {
  color: #8dd3bb;
  font-weight: 700;
}
.el-menu--horizontal>.el-menu-item.is-active {
  border-bottom: 2px solid #8dd3bb;
  color: #303133;
}
.el-menu-item.is-active {
  color: #8dd3bb;
}
.el-menu.el-menu--horizontal {
  border: none;
}
