<<<<<<< HEAD
.el-button--text{
  color: #8dd3bb;
}
.el-radio__input .is-checked .el-radio__inner {
  color: #8dd3bb;
}
.el-radio__inner:hover{
  color: #8dd3bb;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #8dd3bb;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #8dd3bb;
  background: #8dd3bb;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #8dd3bb;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #8dd3bb;
  border-color: #8dd3bb;
}
.el-radio.is-bordered.is-checked {
  border-color: #8dd3bb;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #8dd3bb;
  color: #FFF;
}
.el-select-dropdown__item.selected {
  color: #8dd3bb;
  font-weight: 700;
}
.el-date-table td.current:not(.disabled) span {
  color: #FFF;
  background-color: #8dd3bb;
}
.el-date-table td.today span {
  color: #8dd3bb;
  font-weight: 700;
}
.el-menu--horizontal>.el-menu-item.is-active {
  border-bottom: 2px solid #8dd3bb;
  color: #303133;
}
.el-menu-item.is-active {
  color: #8dd3bb;
}
.el-menu.el-menu--horizontal {
  border: none;
}
=======
<<<<<<< HEAD

.product-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 40px;
  cursor: pointer;
  filter: drop-shadow(0vw 0.28vw 1.11vw rgba(17, 34, 17, 0.05));
}
.card_body{
  border-radius: 0.83vw 0.83vw 0.83vw 0.83vw;
}

.left_img{
  width: 35.7%;
  height: 100%;
}
@media (min-width: 1370px){
  .left_img{
    height: auto;
  }
}
.product-image-wrapper {
  width: 100%;
  height: 100%;
}
.product-image {
  width: 100%;
  height: 100%;
  border-radius: 0.83vw 0vw 0vw 0.83vw;
}
.right_part1{
  width: 64.3%;
  height: 100%;
}
@media (min-width: 1370px){
  .right_part1{
    padding: 10px;
  }
}
.right_top{
  width:100%;
  height: 65%;
}
.right_text{
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 70%;
  height: 100%;
  margin-left: 10px;
}
.right_price{
  width: 30%;
  height: 100%;
}

.product-title-word {
  margin-top: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 1.67vw;
  color: #112211;
}
@media (max-width: 1000px){
  .product-title-word{
    margin-top: 20px;
  }
}
@media (max-width: 600px){
  .product-title-word{
    line-height: 2.5vw;
    height: 50px;
  }
}


.product-rating-box{
  height: 90%;
  border: 0.069vw  solid #8DD3BB ;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 2px;
}
@media (max-width: 600px){
  .product-rating-box{
    height: 50%;
    margin-right: 25px;
  }
}
.product-rate-word{
  font-family:'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1.04vw;
  color: #112211;
}
.product-price-word{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px){
  .product-price-word{
    margin-top: 10px;
  }
}

.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingword_container{
  width: 80%;
  flex-direction: row;
  gap: 3px;
}
.rating-word2 {
  font-weight: 400;
  font-size: 9px;
  line-height: 15px;
  letter-spacing: -0.5px;
}
.product-button-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


=======
>>>>>>> a5891e47ae5feeca6684f057ea1cd3ec110d5caa
>>>>>>> 25e2e5e3185c36f0159755e958a4ea24baef1bb8
